* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-dark-violet: hsl(256, 26%, 20%);
    --primary-grayish-blue: hsl(216, 30%, 68%);
    --neutral-very-dark-violet: hsl(270, 9%, 17%);
    --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
    --neural-very-light-gray: hsl(0, 0%, 98%);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Karla;
    padding: 0;
    margin: 0;
    background-color: var(--neural-very-light-gray);
}
h1,h3,h5,h6 {
    font-weight: 700;
    margin: 10px 0;
}
p {
    font-weight: 400;
}

li {
    list-style: none;
    line-height: 1.6px;
}
a  {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* container styling */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin: 0 auto;

}
.container > * {
    grid-column: 1/-1;
}

/* Header styling */
header {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    height: 100%;
    margin: 20px 0;
}
.logo {
    margin-top:  2rem;
    margin-left: 1rem;
    padding: 0 1rem;

}
.navbar-links {
    width: 100%;
    display: none;
    
    
}
.navbar-links ul {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-very-dark-violet);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom  left;
    background-image: url('images/bg-pattern-mobile-nav.svg');
    height: 20rem;
}
#toggle-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 1.5rem;
}
#toggle-button img {
    cursor: pointer;
}
.navbar-links li {
    text-align: center;
}
.navbar-links li a {
    display: block;
    width: 100%;
    padding: 1.5rem;
    color: var(--neural-very-light-gray);
    text-transform: uppercase;
    font-weight: bolder;
}
.navbar-links li a:hover{
    background-color:var(--neural-very-light-gray);
    color: var(--neutral-very-dark-violet);
}
.navbar-links.active {
    display: flex;
}
/* Profiles stylying */
.profiles {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "profile-b profile-b"
    "profile-a profile-a";
    background-color: var(--primary-dark-violet);
    color: var(--neural-very-light-gray);
    margin: 0 auto;
}
.profile-a {
    /*grid-area: profile-a;*/
   width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-area: profile-a;
    flex-direction: column;
    padding: 1rem auto;
    text-align: center;
    background-color: var(--primary-dark-violet);
    font-weight: bold;
    font-size: 1rem;
    margin: 1px;
}
.profile-a button {
    width: 8rem;
    align-self: center;
    margin: 1rem;
    padding:1rem;
    background: var(--primary-dark-violet);
    border: 1px solid var(--neural-very-light-gray);
    color: var(--neural-very-light-gray);
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}
.profile-a button:hover {
    background-color: var(--neural-very-light-gray);
    border: none;
    color: var(--primary-dark-violet);
    box-shadow: -1px -1px 0px 3px var(--primary-grayish-blue);
}
.profile-b {
    width: 100%;
    grid-area: profile-b;
}
.profile-b picture{
    width: 100%;
    margin: 0;
    height:100%;
}
picture img, picture source {
    width: 100%;
    max-height: 100%;
    display: block;
}
.offer-main {
    display: flex;
    margin: 1.6rem;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
}
.offer-header  {
    font-weight: bolder;
    font-size: 3rem;
    color: var(--neutral-very-dark-violet);
    margin: 2rem auto;
}
.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer img {
    width: 20%;
    margin: 0 auto;
    display: block;
    padding: 2rem 0;
}
.offer h3 {
    font-size: 2.5rem;
    color: var(--neutral-very-dark-violet);
    font-weight: bold;
}
.offer p {
    font-size: 1.2rem;
    color: var(--neutral-dark-grayish-violet);
    font-weight: bold;
}
.more-info {
    background-color: var(--primary-dark-violet);
    max-height: 80rem;
    margin: 1.5rem;
    padding: 2rem;
    max-height: 60rem;
    color: var(--neural-very-light-gray);
    text-align: center;
}
.more-info h1 {
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 2rem 1rem;
}
.more-info button {
    font-size: 1.7rem;
    width: 50%;
    text-transform: uppercase;
    background-color: var(--primary-dark-violet);
    color: var(--neural-very-light-gray);
    margin: 2rem auto;
    padding: 0.9rem;
    border: 2px solid var(--neural-very-light-gray);
}
.more-info button:hover {
    background-color: var(--neural-very-light-gray);
    color: var(--primary-dark-violet);
    cursor: pointer;
}
footer {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.footer-1 {
    background: url('images/bg-pattern-footer-mobile.svg');
    max-width: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:-1px 0.3px 0px 0px var(--neutral-dark-grayish-violet);
}
.footer-1 .footer-logo {
    padding-bottom: 2rem;
}
.footer-1 .footer-social a img{
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
}
.footer-1 .footer-social a img:hover {
    background-color: var(--primary-grayish-blue);
}
.footer-2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.footer-info h5 {
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--neutral-dark-grayish-violet);
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.info-2 {
    padding: 2rem 0;
}
.footer-info .info-2  h6{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--neutral-very-dark-violet);
    text-transform: capitalize;
    padding: 0.5rem 0;
}
.footer-info .info-2 h6:hover {
    color: var(--primary-dark-violet);
    cursor: pointer;
}
footer .footer-coder {
    background-color: var(--primary-dark-violet);
    padding:1.5rem 1rem;
    text-align: center;
    color: var(--neural-very-light-gray);
}
.footer-coder a {
    text-decoration: none;
    color: var(--neural-very-light-gray);
}

.arrow-up {
    background: var(--primary-dark-violet);
    position: fixed;
    right: 32px;
    bottom: 16px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s;
    pointer-events: none;
}
.arrow-up.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/*media queries*/
@media screen and (min-width:1000px) {
    .container {
        padding: 0, 1rem;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-height: 20%;
    }
    .logo {
        display: inline-block;
        max-height:10rem ;
        max-width: 50%;
    }

    #toggle-button {
        display: none;
    }
    .navbar-links ul {
        background-color: var(--neural-very-light-gray);
        flex-direction: row;
        width: 80%;
        float: right;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1.5rem;
        margin-right: 2rem;
        background-image: none;
        height: 0;
    }
    .navbar-links {
        display: block;

    }
    .navbar-links ul li {
        margin: 0 0.5rem;
    }
    .navbar-links li a {
        color: var(--neutral-very-dark-violet);
        display: inline-block;
        color: var(--neutral-dark-grayish-violet);
    }
    .navbar-links li a:hover{
        background-color: var(--primary-grayish-blue);
        border-radius: .1rem;
    }
    .navbar-links li .btn {
        border: 1px solid var(--neutral-very-dark-violet);
    }
    .navbar-links li .btn:hover {
        background-color: var(--primary-dark-violet);
        color: var(--neural-very-light-gray);
        border-radius: 2rem;
    }
    /* profile styling */
    .profiles {
        display: grid;
        grid-template-areas: 
        "profile-a profile-b";
        background-color: var(--primary-dark-violet);
       color: var(--neural-very-light-gray);
       grid-template-rows: 100%;
        grid-template-columns: 1fr 40%;
        background-image: url('images/bg-pattern-intro-right-desktop.svg');
        background-repeat: no-repeat;
        background-position: right;
        margin-bottom: 8rem;
    }
    .bac-profile {
        background-image: url('images/bg-pattern-intro-left-desktop.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
    }
    hr {
        width: 30rem;
    }
    .profile-a {
        width: 80%;
        text-align: left;
        font-weight: bolder;
        font-size: 25px;
        align-items: stretch;
        grid-area: profile-a;
        margin-left: 1.6rem;
    }
    .profile-a button {
        width: 12rem;
    }
    .profile-b {
        height:150%;
        width: 80%;
        position: relative;
        grid-area: profile-b;
        top: 60px;
        padding-right: 3rem;
    }
    .offer {
        width: 33.3%;
        margin: 1.6rem;
    }
    .offer-main .offers {
        flex-direction: row;
        margin: 0 1rem;
        max-height: 50rem;
    }
    .offer h3 {
        font-size: 2.1rem;
    }
    .offer p {
        font-size: 1.2rem;
    }
    .more-info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
    .more-info h1 {
    font-size: 4.5rem;
    width: 70%;
    font-weight: bold;
    text-align: left;
    margin: 0 2.2rem;
    }
    .more-info button {
        width: 15%;
        font-size: 0.8rem;
        padding: 1.2rem;
        max-height: 4rem;

    }    
    
    .footer-1 {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
    }
.footer-2 {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem;
    background-image: url('images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
}
.footer-info h6{
    text-align: left;
}
.footer-info h5{
        font-weight: bolder;
        font-size: 1.8rem;
        padding-bottom: 0;
        text-align: left;
}
.info-diff {
    height: 4.5rem;
}
}
@media screen and (min-width:700px) and (max-width:1000px){
header {
    flex-direction: row;
    justify-content: space-between;
}
#toggle-button {
    display: none;
}
.navbar-links {
    display: inline-block;
}
.navbar-links ul {
    background-color: var(--neural-very-light-gray);
    flex-direction: row;
    justify-content: center;
    background-image: none;
    height: 0;
}
.navbar-links li a {
    color: var(--neutral-very-dark-violet);
    display: inline-block;
    color: var(--neutral-dark-grayish-violet);
    margin: 0 0.1rem;
    margin-top: 1rem;
}
.navbar-links li a:hover{
    background-color: var(--primary-grayish-blue);
    border-radius: .1rem;
}
.navbar-links li .btn {
    border: 1px solid var(--neutral-very-dark-violet);
}
.navbar-links li .btn:hover {
    background-color: var(--primary-dark-violet);
    color: var(--neural-very-light-gray);
    border-radius: 2rem;
}
/* profile styling */
.profiles {
    display: grid;
    grid-template-areas: 
    "profile-a profile-b";
    background-color: var(--primary-dark-violet);
   color: var(--neural-very-light-gray);
    grid-template-rows: 100%;
    background-image: url('images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5rem;
}
.bac-profile {
    background-image: url('images/bg-pattern-intro-left-desktop.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
}
.profile-a {
    width: 80%;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    align-items: stretch;
    grid-area: profile-a;
    margin-left: 1.6rem;
}

.profile-b {
    height:120%;
    width: 90%;
    position: relative;
    grid-area: profile-b;
    top: 70px;
}
hr {
    width: 20rem;
}
.offer-main .offers {
    flex-direction: row;
    margin: 0 1rem;
    max-height: 50rem;
}
.offer {
    width: 32%;
    margin: 0.4rem;
}
.offer h3 {
    font-size: 1.5rem;
}
.offer p {
    font-size: 0.8rem;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
}
.info h1 {
    font-size: 2.5rem;
    width: 50%;
    font-weight: bold;
    text-align: left;
    margin: 0 2.2rem;
}
.info button {
    width: 30%;
    font-size: 1rem;
    margin: 2rem 0;
    padding: 0.9rem;
}
.footer-1 {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.footer-2 {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem;
    background-image: url('images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
}

.footer-info h5{
        font-weight: bolder;
        font-size: 1.2rem;
        padding-bottom: 0;
        text-align: left;
}
.info-diff {
    height: 3.5rem;
}
.footer-info .info-2 h6{
    text-align: left;
    font-size: 0.9rem;
}
}
